<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.chencai.Jot</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleName</key>
	<string>Jott - Sticky Notes</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026. All rights reserved.</string>
	<key>NSUserNotificationUsageDescription</key>
	<string>Jott - Sticky Notes sends notifications to remind you of your tasks.</string>
	<key>REVENUECAT_API_KEY</key>
	<string>appl_EDGVnQkEJHDDYWfnFDNCnZIFoPt</string>
	<key>REVENUECAT_ENTITLEMENT_ID</key>
	<string>Jott. Pro</string>
	<key>REVENUECAT_OFFERING_ID</key>
	<string>default</string>
	<key>REVENUECAT_PACKAGE_IDENTIFIER</key>
	<string>$rc_lifetime</string>
	<key>REVENUECAT_PRODUCT_ID</key>
	<string>jott_lifetime</string>
	<key>REVENUECAT_PROXY_URL</key>
	<string>https://api.revenuecat.com</string>
</dict>
</plist>
